/bin/*
/examples/bin/*
/data
/todo/*
/c/*
/diffs/*
/build/*.log
.dub
*.a
*.c
*.dat
*.h
*.o
*.7z
*.di
*.cpp
*.log
*.lib
*.dll
*.exe
*.map
*.obj
*.rar
*.xml
*.deps
*.modTime
*.exe_cv
*.gui
*.pdb
*.zip
*.dlangidews
*.dlangidews.wssettings
*.settings
/bin/
/examples/demo/.dub
/examples/demo/.dub/dub.json
